<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body bgcolor="#ded7f5">
<a href="/firstapp/home">Back To Home</a>
<h1 align="center">Vidhya Niketan Samiti</h1>
<h3>About Samiti</h3>
<img src="{% static 'a1.jpg' %}" width="600" height="300" align="right" border="1px">

<p>VNS was established and registered in 1994 under the M.P. Societies Registration Act (Reg. No.<br> 26510 dated 25th December, 1994). Promoters of VNS group are acknowledged business people <br>having ventures in the areas of mining of iron-ore, manganese and bauxite, construction,<br> refractory manufacturing and daily newspaper publishing. VNS group is committed towards<br> promoting quality education and research oriented activities through dynamic linkages with<br> industry.
</p>
<h3 style="margin-top: 200px;">Vision & Mission</h3>
<h4>Vision :</h4>
<img src="{% static 'a2.jpg' %}" align="right" border="1px" width="600" height="250">
<p>To be known as an institute for its excellence in education by producing individuals who are<br> technically sound, ethically strong and self-reliant.</p>
<h4>Mission</h4>
<ul>
	<li>Impart quality education enriched with contemporary knowledge.</li>
	<li>Develop employ-ability skills through corporate synergy activities.</li>
	<li>Strengthen innovative thinking by facilitating research.</li>
	<li>Nurture and confirm discipline, ethical values through individual attention.</li>
</ul>

</body>
</html>