<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body bgcolor="#ebf5c3">
	<a href="/firstapp/home">Back To Home</a>
	<h1 style="margin-left:50px">Contact Us</h1>
	<p style="margin-left:50px">VNS Campus, Neelbud, Bhopal-462044<br>
Phone:- 0755- 2696654,2696655, Fax: 0755- 2696815<br>
info@vns.ac.in</p>
<h2 style="margin-left:50px">Admission Contact</h2>
<h3 style="margin-left:50px">Faculty of Engineering :</h3>
<p style="margin-left:50px">Dr. S.K. Pandey - 6232004601<br>
Mr. Manoj Kumar - 6232004602<br>
principal.it@vns.ac.in<br>
Mr. Ravi Kumar - 7999114743</p>
<h3 style="margin-left:50px">Faculty of Pharmacy :</h3>
<p style="margin-left:50px">Mr. Ankit Mishra - 6232004604<br>
Mr. Avinash Mandloi - 6232004603<br>
Info.ip@vns.ac.in</p>
<h3 style="margin-left:50px">Faculty of Management :</h3>
<p style="margin-left:50px">Dr. Sulakshna Tiwari - 6232004633<br>
Dr. Praveen Choudhary - 6232004606<br>
Info.im@vns.ac.in</p>
<h3 style="margin-left:50px">Physical Education & Management Studies:</h3>
<p style="margin-left:50px">Dr. B.S. Bhadoriya - 6232004607<br>
Dr. Neelesh Dubey - 6232004608</p>
<h3 style="margin-left:50px">VNS College of Nursing:</h3>
<p style="margin-left:50px">Mr. Rajesh Sharma- 6232004609</p>
</body>
</html>