<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body bgcolor="#baf5e1">
	<a href="/firstapp/home">Back To Home</a>
	<h1>Courses</h1>
	<h3>Diploma Duration 3 Years</h3>
	<table style="width:1200px; height: 200px; border: 1px solid black;">
		<tr>
			<th style="border:1px solid black;">Branch</th>
            <th style="border:1px solid black;">Intake</th>
            <th style="border:1px solid black;">Lateral Entry</th>
		</tr>
		<tr>
    <td style="border:1px solid black;">Mechanical</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">-</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Civil</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">-</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Mechanical</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">-</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Mining and Mine Surveying</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">-</td>
  </tr>
	</table>
	<h3>Bachelor of Technology (B.Tech.) Duration 4 Years</h3>
	<h4>Total Intake : 330</h4>
	<table style="width:1200px; height:200px; border: 1px solid black;">
  <tr>
    <th style="border:1px solid black;">Branch</th>
    <th style="border:1px solid black;">Intake</th> 
    <th style="border:1px solid black;">Lateral Entry</th>
  </tr>
  <tr>
    <td style="border:1px solid black;">Mechanical Engineering</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">6</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Computer Science and Engineering</td>
    <td style="border:1px solid black;">90</td>
    <td style="border:1px solid black;">9</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Electronics and Communication Engineering</td>
    <td style="border:1px solid black;">30</td>
    <td style="border:1px solid black;">3</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Electrical and Electronics Engineering</td>
    <td style="border:1px solid black;">30</td>
    <td style="border:1px solid black;">3</td>
  </tr><tr>
    <td style="border:1px solid black;">Civil Engineering</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">6</td>
  </tr>
  <tr>
    <td style="border:1px solid black;">Mining Engineering</td>
    <td style="border:1px solid black;">60</td>
    <td style="border:1px solid black;">6</td>
  </tr>
</table>
<h3>Master of Technology (M. Tech.) Duration 2 Years</h3>
<h4>Total Intake : 36</h4>
<table style="width:1200px; height:100px; border: 1px solid black;">
	<tr>
			<th style="border:1px solid black;">Branch</th>
            <th style="border:1px solid black;">Intake</th>
            
		</tr>
		<tr>
    <td style="border:1px solid black;">Computer Science</td>
    <td style="border:1px solid black;">18</td>
    
  </tr>
  <tr>
    <td style="border:1px solid black;">Digital Communication</td>
    <td style="border:1px solid black;">18</td>
   
  </tr>
</table>

</body>
</html>